@{
    ViewBag.Title = "Protótipo PIM VIII - ASP.NET";
}

<div class="row">
    <div class="col-md-4">
        <img src="https://unibrbotucatu.com.br/wp-content/uploads/2019/02/Alunos.png" alt="some text" width=200 height=220>
        <h2>Listagem de Alunos</h2>

        @Html.ActionLink("> Acessar lista de Alunos", "Index", "pessoas")
    </div>
</div>